bin/
**/bin/
build/
**/build/
.gradle/
**/.gradle/
**/gradle/
.settings/
**/.settings/
.idea/
**/.idea/
out/
**/out/
project/
**/project/
target/
**/target/
__pycache__/
**/__pycache__/
.env/
**/.env/
